* {
    text-align: center;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
title {
    font-size: 50px;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #ffffff;
    color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  div.content {
    margin-left: 200px;
    padding: 20px 16px;
    height: 20px;
    text-align: center;
  }
 h1 {
    color: rgb(41, 41, 41);
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
  }
p {
    color: black
}
special {
    font-style: italic;
    color: black;
}
div.sidebar a {
color: rgb(255, 255, 255);
size: 30px;
}
.sidebar a {
    display: block;
    color: rgb(3, 3, 3);
    text-align:left;
    padding: 16px;
    border: 10pxsolidrgb(255,255,255)y;
    border-color: black;
    size:20px;
    margin:0px;
    text-decoration: none;
  }
  .box {
    border-color:blanchedalmond
  }
div.sidebar {
    border-radius: 10px;
}
div.sidebar a.active {
    background-color: black;
    color: black;
}
h3 {
    font-size: 15px;
    color: rgb(41, 41, 41);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
ul.no-bullets {
    list-style-type:none;
    margin:0%;
    padding: 0;
  }
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: rgb(0, 0, 0);
  }
  .sidebar a.active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  #lionstalkscience {
    display:inline-block;
    width: 180px;
    height: 200px;
  }
button.sb {
   background-color: rgb(126, 126, 126);
  }
  div.k {
    text-align: right;
    margin-right: 0px;
  }
ul.kk {
    
    text-align: right;
    margin-right: 0px;
}